.calendar {
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 10px;
  padding-left: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.bold {
  font-weight: 800;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 600;
}

.calendar-header h2 {
  margin: 0;
  font-size: 1.5rem;
}

.expand-btn {
  background: none;
  cursor: pointer;
  margin-top: 14px;
  transition: transform 0.3s ease;
  transform: rotate(180deg);
  outline: none;
  border: none;
}

.revert {
  transform: rotate(0deg);
}

.header-right-block {
  display: flex;
  align-items: center;
  gap: 7px;
}

.header-btns-container {
  background-color: rgba(247, 247, 247, 1);
  border-radius: 50px;
  padding: 3px;
  display: flex;
  gap: 4px;
}

.header-btn {
  background-color: white;
  border-radius: 40px;
  padding: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12.61;
  font-weight: 600;
  height: 24px;
  outline: none;
}

.avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  object-fit: cover;
  justify-content: center;
  align-items: center;
}

.header-btn:hover {
  background-color: #f0f0f0;
}

.toggle-btn {
  margin-left: 16px;
  background-color: #f0f0f0;
}

.calendar-table {
  width: 100%;
}

.calendar-table th {
  text-align: left;
  font-weight: 500;
  font-size: 13px;
  padding-bottom: 15px;
}

.calendar-table td {
  vertical-align: top;
  padding: 4px;
}

.day-cell {
  font-weight: 800;
}

.current-day .day-number {
  background-color: rgba(89, 69, 254, 1);
  font-weight: bold;
  color: white;
}

.day-number {
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 4px;
  width: 36px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -14px;
  position: relative;
}

.events {
  position: absolute;
  bottom: -8px;
  background-color: rgba(89, 69, 254, 1);
  height: 6px;
  border-radius: 50px;
}

.other-month .day-number {
  color: rgba(165, 165, 165, 1);
}

.events {
  overflow-y: auto;
  max-height: 80px;
}

.event-reminder {
  font-size: 12px;
  background-color: #e6f7ff;
  border-left: 3px solid #1890ff;
  padding: 4px;
  margin-bottom: 4px;
  border-radius: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event-time {
  font-weight: bold;
  margin-right: 4px;
  color: #1890ff;
}

.events-for-day-title {
  margin-left: 25px;
  margin-top: 25px;
}

.events-for-day {
  margin-left: 10px;
  margin-right: 10px;
}

.events-list {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.event-item {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: white;
}

.event-text {
  font-size: 13px;
  font-weight: 500;
  min-height: 48px;
  padding-left: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
}

.event-text::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0;
  bottom: 0;
  width: 3px;
  border-radius: 3px;
  background-color: rgba(89, 69, 254, 1);
}

.event-text > p {
  color: rgba(125, 125, 125, 1);
}

.no-events {
  color: rgba(125, 125, 125, 1);
  font-weight: 500;
  font-size: 13px;
  margin-left: 25px;
  margin-top: 15px;
}
